<nav class="navbar navbar-expand-md navbar-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <a href="https://www.groupeadf.com" target="_blank"><img src="./assets/images/Logo-ADF-Blanc.png" class="logo" height="80"/></a>
  </div>
  <div class="mx-auto order-0">
      <h1 class="navbar-brand mx-auto">{{title}}</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
          <span class="navbar-toggler-icon"></span>
      </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <button class="btn btn-secondary nav-link ml-auto nav-item" type="button" (click)="retourAccueil();">Accueil</button>
  </div>
</nav>