<div class="grid-contrat">
    <!-- Création du bloc Grid de Kendo qui encadre tous le contenu avec ses paramètres -->
    <kendo-grid
        [kendoGridBinding]="contratData"
        [resizable]="true"
        [filterable]="true"
        [sortable]="true"
        [pageable]=true
        [pageSize]="10">
  <kendo-grid-column field="Matricule">
    <ng-template kendoGridCellTemplate let-contrat>
      {{ contrat.matricule }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="Type Contrat">
    <ng-template kendoGridCellTemplate let-contrat>
      {{ contrat.typeContrat }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="Date Début du Contrat">
    <ng-template kendoGridCellTemplate let-contrat>
      {{ contrat.dateDebut }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="Date Fin du Contrat">
    <ng-template kendoGridCellTemplate let-contrat>
      {{ contrat.dateFin }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="Société">
    <ng-template kendoGridCellTemplate let-contrat>
      {{ contrat.societe }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="Section">
    <ng-template kendoGridCellTemplate let-contrat>
      {{ contrat.section }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="Numéro du Contrat">
    <ng-template kendoGridCellTemplate let-contrat>
      {{ contrat.numContrat }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="Mission">
    <ng-template kendoGridCellTemplate let-contrat>
      {{ contrat.mission }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="Fonction">
    <ng-template kendoGridCellTemplate let-contrat>
      {{ contrat.fonction }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-messages [pagerOf]="'sur'" [pagerItems]="'contrats'">
  </kendo-grid-messages>
</kendo-grid>
</div>


