<div class="grid-applications">
    <!-- Création du bloc Grid de Kendo qui encadre tous le contenu avec ses paramètres -->
    <kendo-grid 
        [kendoGridBinding]="applications"
        [resizable]="true"
        [sortable]="true"
        [pageable]=true
        [pageSize]="10">

        <!-- Début création des colonnes du Grid -->

        <!-- Création de la colonne Matricule dans le tableau -->
        <kendo-grid-column field="nomApplication" title="Applications">
        </kendo-grid-column>

        <!-- Création de la colonne Nom dans le tableau -->
        <kendo-grid-column field="droit" title="Droits">
        </kendo-grid-column>


        <!-- Fin création des colonnes du Grid -->

        <!-- Modification du text du pager -->
        <kendo-grid-messages [pagerOf]="'sur'" [pagerItems]="'applications'">
        </kendo-grid-messages>

    </kendo-grid>
</div>