<div class="grid-application">
  <!-- Création du bloc Grid de Kendo qui encadre tous le contenu avec ses paramètres -->
  <kendo-grid
      [kendoGridBinding]="applicationsData"
      [resizable]="true"
      [filterable]="true"
      [sortable]="true"
      [pageable]=true
      [pageSize]="10">
<kendo-grid-column field="Matricule">
  <ng-template kendoGridCellTemplate let-application>
    {{ application.matricule }}
  </ng-template>
</kendo-grid-column>
<kendo-grid-column field="Nom Application">
  <ng-template kendoGridCellTemplate let-application>
    {{ application.nomApplication }}
  </ng-template>
</kendo-grid-column>
<kendo-grid-column field="Droits">
  <ng-template kendoGridCellTemplate let-application>
    {{ application.droit }}
  </ng-template>
</kendo-grid-column>
<kendo-grid-messages [pagerOf]="'sur'" [pagerItems]="'applications'">
</kendo-grid-messages>
</kendo-grid>
</div>


